
<p-toast></p-toast>


<div class="m-5 list-map-div">
  <div class="listbox-div">
<!--    <div class="spinner" *ngIf="roadLoading">-->
<!--      <p-progressSpinner></p-progressSpinner>-->
<!--    </div>-->
    <p-listbox [options]="roads" [(ngModel)]="selectedRoad" optionLabel="name" [disabled]="roadLoading"
               (ngModelChange)="onListChange(gMap.getMap())"
               [filter]="true" class="listbox" [listStyle]="{'min-height':'400px', 'max-height': '100%'}">

      <ng-template let-road pTemplate="item">
        <div class="road-item flex flex-row">
          <div>{{road.name}}</div>
          <div class="buttons-items-div">
            <button pButton (click)="onEditRoad(road.id!)" class="p-button-secondary p-button-sm">Edytuj</button>
            <button pButton (click)="onDeleteRoad(road)" class="p-button-danger p-button-sm">Usuń</button>
          </div>
        </div>
      </ng-template>

    </p-listbox>
    <div class="mt-3 flex flex-row justify-content-center gap-4">
      <button pButton (click)="onAddRoad()" label="Dodaj" [loading]="roadLoading"></button>
<!--      <button pButton (click)="onEditRoad()" class="p-button-secondary" [disabled]="selectedRoad === undefined">Edytuj</button>-->
<!--      <button pButton (click)="onDeleteRoad()" class="p-button-danger" [disabled]="selectedRoad === undefined">Usuń</button>-->
    </div>

  </div>
  <p-gmap [options]="mapOptions" class="gmap" #gMap
          [overlays]="mapOverlays"
          (onOverlayClick)="handleOverlayClick($event)"
          [style]="{'max-width':'800px', 'min-width':'300px', 'width':'800px', 'height':'100%'}">
  </p-gmap>

</div>

<app-road-map-delete-modal *ngIf="displayRoadDeleteModal"
                           [roadData]="selectedRoad"
                           [display]="displayRoadDeleteModal"
                           (hide)="onDeleteRoadModalHide()"
                           (deleteSuccessEvent)="onDeleteSuccess($event)"

></app-road-map-delete-modal>
