<p-toast></p-toast>

<div class="flex flex-column justify-content-center align-items-center main-div">

  <button pButton class="back-button p-button-outlined" label="Wróć do przetargów" (click)="backToAuctions()"></button>
  <h2>Złóż ofertę</h2>

  <p-progressSpinner [style]="{width: '50px', height: '50px'}"
                     *ngIf="isLoading; else table_div"></p-progressSpinner>
  <ng-template #table_div>
    <div class="w-8 mt-5">

      <h3 class="text-center">{{auction?.name ?? "null"}}</h3>

      <p-inputNumber [(ngModel)]="price" [min]=staringPrice id="price" mode="currency"
                           [currency]="selectedCurrency" class="w-full" styleClass="w-full"
                           decrementButtonClass="{{price === null || price <= 0 ? 'hidden' : ''}}">
            </p-inputNumber>

            <input type="text" pInputText [(ngModel)]="companyName" placeholder="Nazwa firmy" [class]="isCompanyNameValid ? '' : 'ng-invalid ng-dirty'">
    

            <p-dropdown [options]="currencies" [(ngModel)]="selectedCurrency" class="w-3" 
            (onChange)="setCurrency($event)"></p-dropdown>


            <button type="submit" pButton label="Dodaj" icon="pi pi-plus"
            (click)="onSubmit()"></button>

    
    </div>
  </ng-template>

</div>
