<p-toast></p-toast>

<div class="flex flex-column justify-content-center align-items-center main-div">

  <button pButton class="back-button p-button-outlined" label="Wróć do przetargów" (click)="backToAuctions()"></button>
  <h2>Złóż ofertę</h2>

  <p-progressSpinner [style]="{width: '50px', height: '50px'}"
                     *ngIf="isLoading; else table_div"></p-progressSpinner>
  <ng-template #table_div>
    <div class="w-8 mt-5">

      <h3 class="text-center">{{auction?.name ?? "null"}}</h3>

      <form [formGroup]="offerForm" (ngSubmit)="onSubmit()" class="mt-5 w-20rem">
        <div class="field">
          <label for="price" class="block">Cena</label>
          <div class="p-inputgroup">
            <p-inputNumber formControlName="price" [min]=staringPrice id="price" mode="currency"
                           [currency]="selectedCurrency" class="w-full" styleClass="w-full"
                           decrementButtonClass="{{offerPrice.value === null || offerPrice.value <= 0 ? 'hidden' : ''}}">
            </p-inputNumber>
           
          </div>
          <div>
            <p-dropdown [options]="currencies" [(ngModel)]="selectedCurrency" class="w-3" 
            (onChange)="setCurrency($event)"></p-dropdown>
            </div>
          <ng-container
            *ngIf="offerPrice.invalid && (offerPrice.dirty || offerPrice.touched)">
            <small *ngIf="offerPrice.errors?.['required']" class="p-error block">Cena jest wymagana.</small>
            <small *ngIf="offerPrice.errors?.['min']" class="p-error block">Cena nie może być mniejsza niż minimalna.</small>
          </ng-container>
        </div>
        <button type="submit" pButton label="Dodaj" icon="pi pi-plus"></button>
      </form>
    </div>
  </ng-template>

</div>
