<p-dialog *ngIf="toll" header="Opłacony przejazd" [(visible)]="display" [modal]="true"
          [dismissableMask]="true" [draggable]="false" [style]="{width: '500px'}"
          (onHide)="onHide()">
  <p>Data opłacenia: <span class="font-semibold">{{toll.payment!.date.toLocaleString()}}</span></p>
  <p>Data wystawienia: <span class="font-semibold">{{toll.ride.date.toLocaleString()}}</span></p>
  <p>Kwota: <span class="font-semibold">{{toll.amount}} PLN</span></p>
  <p>Lokalizacja: <span class="font-semibold">{{toll.ride.location.name}}</span></p>
  <ng-template pTemplate="footer">
    <p-button label="Ok" styleClass="p-button-sm p-button-outlined" (onClick)="onOk()"></p-button>
  </ng-template>
</p-dialog>
