<p-toast></p-toast>

<p-dialog [(visible)]="showLoadingDialog" [modal]="true" [closable]="false" header="Zamykanie przetargu">
    <p-progressSpinner [style]="{width: '50px', height: '50px',  display: 'block',margin: 'auto'}"></p-progressSpinner>
</p-dialog>

<div class="flex flex-column justify-content-center align-items-center">

  <h2>Przetargi</h2>

  <p-progressSpinner [style]="{width: '50px', height: '50px'}"
                     *ngIf="isLoading; else table_div"></p-progressSpinner>

  <ng-template #table_div>
    <div class="w-8 mt-5 flex flex-column">

      <div class="flex justify-content-between align-items-center mb-5">
        <p-checkbox [(ngModel)]="editModeFlag" [binary]="true" label="Tryb edycji"></p-checkbox>
        <button *ngIf="editModeFlag" pButton type="button" (click)="addAuction()" label="Dodaj przetarg"
                class="p-button-success align-self-start"></button>
      </div>

      <p-table [value]="auctionList" [rows]="10" class="w-full">
        <ng-template pTemplate="header">
          <tr>
            <th>Nazwa</th>
            <th>Cena startowa</th>
            <th>Otwarty</th>
            <th [style]="'text-align: right'"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-auction>
          <tr>
            <td>{{auction.name}}</td>
            <td>{{auction.staringPrice}}</td>
            <td>{{auction.isOpen ? 'Tak' : 'Nie'}}</td>
            <td>
              <div class="flex gap-3 justify-content-end">
                <button pButton type="button" (click)="viewDetails(auction)" label="Szczegóły"></button>
                <button pButton type="button" (click)="viewOffers(auction)" class="p-button-secondary w-3"
                        label="Oferty" *ngIf="auction.isOpen; else results_btn"></button>
                <ng-template #results_btn>
                  <button pButton type="button" (click)="viewResults(auction)" label="Wyniki"
                          class="p-button-secondary w-3"></button>
                </ng-template>

                <ng-container *ngIf="editModeFlag">
                  <button pButton type="button" class="bg-yellow-600" [disabled]="auction.isOpen"
                          (click)="editAuction(auction)"  label="Edytuj">
                  </button>
                  <button pButton type="button" class="p-button-danger" [disabled]="!auction.isOpen"
                          (click)="closeAuction(auction)"  label="Zamknij"></button>
                </ng-container>

              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-template>
</div>
