<p-toast></p-toast>

<p-dialog [(visible)]="showLoadingDialog" [modal]="true" [closable]="false" header="Zamykanie przetargu">
  <p-progressSpinner [style]="{width: '50px', height: '50px',  display: 'block',margin: 'auto'}"></p-progressSpinner>
</p-dialog>

<p-dialog *ngIf="winningOffer" [(visible)]="showResultsDialog" [modal]="true" [closable]="true"
          (onHide)="onResultsHide()"
          header="Wyniki przetargu">
  <p-progressSpinner [style]="{width: '50px', height: '50px',  display: 'block',margin: 'auto'}"
                     *ngIf="loadingResults; else results_loaded"></p-progressSpinner>
  <ng-template #results_loaded>
    <h3>Przetarg: {{selectedAuction ? selectedAuction.name : 'null'}}</h3>
    <div>
      <p-table class="w-full" [value]="[winningOffer]">
        <ng-template pTemplate="header">
          <tr>
            <th>Firma</th>
            <th>Kwota</th>
            <th>Ocena</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body">
          <tr>
            <td>{{winningOffer.companyName}}</td>
            <td>{{winningOffer.amount}} {{winningOffer.currency}}</td>
            <td>{{winningOffer.score}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="showDetailsDialog" [modal]="true" [closable]="true" header="Szczegóły przetargu"
          [style]="{minWidth: '400px', maxWidth: '600px'}">
  <div *ngIf="auctionDetailsModel">
    <p><strong>Numer:</strong> {{auctionDetailsModel.id}}</p>
    <p><strong>Nazwa:</strong> {{auctionDetailsModel.name}}</p>
    <p><strong>Cena
      startowa:</strong> {{auctionDetailsModel.staringPrice}} {{auctionDetailsModel.startingPriceCurrency?.sign}}</p>
    <p><strong>Otwarty:</strong> {{auctionDetailsModel.isOpen ? "Tak" : "Nie"}}</p>
    <p><strong>Opis:</strong> {{auctionDetailsModel.description}}</p>
    <p><strong>Data zakończenia:</strong> {{auctionDetailsModel.dueDate | date: 'dd.MM.yyyy'}}</p>
    <!--    <p><strong>Lokalizacja:</strong> {{selectedAuction.localization!.longitude}},{{selectedAuction.localization!.latitude}}</p>-->
  </div>
  <p-footer>
    <button pButton type="button" label="Ok" (click)="showDetailsDialog = false"></button>
  </p-footer>
</p-dialog>


<div class="flex flex-column justify-content-center align-items-center mb-8">

  <h2>Przetargi</h2>

  <p-progressSpinner [style]="{width: '50px', height: '50px'}"
                     *ngIf="isLoading; else table_div"></p-progressSpinner>

  <ng-template #table_div>
    <div class="w-8 mt-5 flex flex-column">

      <div class="flex justify-content-between align-items-center mb-5">
        <p-checkbox *ngIf="role === 'worker'" [(ngModel)]="editModeFlag" [binary]="true"
                    label="Tryb edycji"></p-checkbox>
        <button *ngIf="editModeFlag" pButton type="button" (click)="addAuction()" label="Dodaj przetarg"
                class="p-button-success align-self-start"></button>
      </div>

      <p-table [value]="auctionList" [rows]="10" class="w-full">
        <ng-template pTemplate="header">
          <tr>
            <th>Numer</th>
            <th>Nazwa</th>
            <th>Cena startowa</th>
            <th>Otwarty</th>
            <th [style]="'text-align: right'"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-auction>
          <tr>
            <td>{{auction.id}}</td>
            <td>{{auction.name}}</td>
            <td>{{auction.startingPrice}} {{auction.startingPriceCurrency?.sign}}</td>
            <td>{{auction.isOpen ? 'Tak' : 'Nie'}}</td>
            <td>
              <div class="flex gap-3 justify-content-end">
                <button pButton type="button" (click)="viewDetails(auction)" label="Szczegóły"></button>
                <button pButton type="button" (click)="viewOffers(auction)" class="p-button-secondary"
                        [style]="{width: '100px'}"
                        label="Oferty" *ngIf="auction.isOpen && role === 'worker'"></button>
                <button pButton type="button" (click)="goToMakeOffer(auction)" class="p-button-secondary"
                        [style]="{width: '100px'}"
                        label="Złóż ofertę" *ngIf="auction.isOpen && role !== 'worker'"></button>
                <button pButton type="button" (click)="viewResults(auction)" label="Wyniki"
                        [style]="{width: '100px'}"
                        *ngIf="!auction.isOpen"
                        class="p-button-secondary"></button>

                <ng-container *ngIf="editModeFlag">
                  <button pButton type="button" class="bg-yellow-600" [disabled]="!auction.isOpen"
                          (click)="editAuction(auction)" label="Edytuj">
                  </button>
                  <button pButton type="button" class="p-button-danger" [disabled]="!auction.isOpen"
                          (click)="closeAuction(auction)" label="Zamknij"></button>
                </ng-container>

              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-template>
</div>
