<div class="flex-container">
  <p class="header">Taryfikatory</p>
  <ng-container *ngIf="tariffs; else loading">
    <div *ngIf="tariffs.length > 0; else noTools" class="card table">
      <p-table [value]="tariffs" selectionMode="single" [(selection)]="selectedTariff" dataKey="id" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem"></th>
            <th>Aktywny</th>
            <th>Nazwa</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tariff let-expanded="expanded">
          <tr [pSelectableRow]="tariff">
            <td>
              <button type="button" pButton pRipple [pRowToggler]="tariff" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td *ngIf="tariff.active; else notActive">
              <i class="pi pi-check"></i>
            </td>
            <ng-template #notActive>
              <td>
                <i class="pi pi-times"></i>
              </td>
            </ng-template>
            <td>{{tariff.name}}</td>
          </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-tariff>
          <tr>
            <td colspan="3">
              <div class="p-3">
                <p-table [value]="getArray(tariff.prices)" dataKey="id">
                  <ng-template pTemplate="header">
                    <tr>
                      <th pSortableColumn="id">
                        Nazwa
                      </th>
                      <th pSortableColumn="customer">
                        Cena
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-price>
                    <tr>
                      <td>{{price.name}}</td>
                      <td>{{price.value + " zł"}}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </td>
          </tr>
        </ng-template>

      </p-table>
    </div>
    <ng-template #noTools>
      <p>Brak taryfikatorów</p>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
  </ng-template>
</div>
