<div class="view-camera-container">
  <p class="header">Taryfikatory</p>
  <div class="view-camera-dropdown-container">
    Województwo
    <p-dropdown [options]="mapOptions" [(ngModel)]="selectedOption"  optionLabel="name" (ngModelChange)="onVoivodeshipSelect(gMap.getMap())" class="view-camera-dropdown"></p-dropdown>
  </div>
  <div class="view-camera-map-container">
    <ng-container>
      <p-gmap [options]="selectedOption" class="view-camera-map" #gMap
              [overlays]="overlays"
              [style]="{'max-width':'100hv', 'min-width':'300px', 'width':'100hv', 'height':'100%'}"
              (onOverlayClick)="handleOverlayClick($event)">
      </p-gmap>
    </ng-container>
  </div>
</div>

<p-dialog *ngIf="selectedCamera; else loading" header={{selectedCamera.name}} [(visible)]="displayCameraStream" [modal]="true"
          [dismissableMask]="true" [draggable]="false"
          [style]="{width: '50vw', height: '50vh', display: 'flex'}"
          (onHide)="handleModalClose()">
  <div [className]="isLoading ? 'please-go-away-spinner' : 'please-go-away-video'">
    <p-progressSpinner class="video-spinner" [style]="{height: '100%', margin: 'auto'}" *ngIf="isLoading"></p-progressSpinner>
    <iframe
      src={{selectedCamera.url}}
      (load)="isLoading=false"
      [src]="selectedCamera.url | safe"
      [className]="isLoading ? 'camera-iframe-disabled' : 'camera-iframe'"
      allowfullscreen
    ></iframe>
  </div>
</p-dialog>

<ng-template #loading>
  <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
</ng-template>
