<div class="flex flex-column justify-content-center align-items-center p-card m-6 p-2">
  <p class="text-center text-xl p-card-title">Zakupione subskrypcje</p>
  <ng-container *ngIf="subData.length > 0; else sub_empty">
    <div class="block p-card bg-green-50 max-w-30rem px-6 py-2 my-5" *ngFor="let subs of subData">
      <p>
        <span class="font-bold">Data zakupu:</span>
        {{subs.charge!.payment!.dateTime}}
      </p>
      <p>
        <span class="font-bold">Od:</span>
        {{subs.subscriptionFrom}}
      </p>
      <p>
        <span class="font-bold">Do:</span>
        {{subs.subscriptionTo}}
      </p>
      <p class="font-bold">Trasy:</p>
      <ul>
        <li *ngFor="let roadId of subs.roadsIds">
          {{roadMap.get(roadId)}}
        </li>
      </ul>
      <p>
        <span class="font-bold">Cena:</span> {{subs.charge!.amount}}
      </p>
    </div>
  </ng-container>
  <ng-template #sub_empty>
    <h2>Nie masz żadnej subskrypcji</h2>
  </ng-template>
  <p-button (click)="onBack()">Powrót</p-button>
</div>

