.not-found-div{
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 20px;
  justify-content: center;
  align-content: center;
}

.not-found-icon{
  font-size: 4rem;
  color: #ee2323;
}

.not-found-text{
  font-family: Consolas;
  color: #e32a2a;
}
