.my-dock {
  position: fixed;
  top: 50%;
  transform: translate(-50%);
  z-index: 100;
}

.p-dock-list-container {
  width: 200px;
}

.table-select-div{
  width: 60%;
  margin-right: 40px;
}

:host ::ng-deep .p-dropdown {
  width: 100%;
}
