<!--<p-dock [model]="dockItems" position="left" class="my-dock w-1rem">-->
<!--  <ng-template pTemplate="item" let-item>-->
<!--    <p onClick="" class="cursor-pointer text-left w-full">{{item.label}}</p>-->
<!--  </ng-template>-->
<!--</p-dock>-->

<div #form class="flex flex-column align-items-center m-3">
  <p class="mt-5 mb-2 text-2xl">Dodaj drogę</p>
  <p-divider class="w-full py-0 my-0 px-8"></p-divider>
  <p class="mb-5 mt-2 text-xl">Uzupełnij dane</p>
  <form [formGroup]="roadForm" (ngSubmit)="onSubmit()" class="mb-5 ">
    <div class="field">
      <label for="name" class="block">Nazwa</label>
      <input id="name" type="text"
             class="w-full {{name?.invalid && (name?.dirty || name?.touched) ? 'ng-invalid ng-dirty' : ''}}" pInputText
             formControlName="name"/>
      <ng-container *ngIf="name?.invalid && (name?.dirty || name?.touched)">
        <small *ngIf="name?.errors?.['required']" id="name-help" class="p-error block">Nazwa jest wymagana.</small>
      </ng-container>
    </div>
    <div class="field">
      <label for="sub" class="block">Cena subskrybcji za jeden dzień</label>
      <p-inputNumber formControlName="subscriptionPriceForOneDay" [showButtons]="true" id="sub" mode="currency"
                     currency="PLN" class="w-full"
                     decrementButtonClass="{{subscriptionPriceForOneDay?.value === null
                                              || subscriptionPriceForOneDay!.value! <= 0 ? 'hidden' : ''}}">
      </p-inputNumber>
      <ng-container
        *ngIf="subscriptionPriceForOneDay?.invalid && (subscriptionPriceForOneDay?.dirty || subscriptionPriceForOneDay?.touched)">
        <small *ngIf="subscriptionPriceForOneDay?.errors?.['required']" class="p-error block">Cena subskrybcji za jeden
          dzień jest wymagana.</small>
        <small *ngIf="subscriptionPriceForOneDay?.errors?.['min']" class="p-error block">Cena subskrybcji za jeden dzień
          nie może być ujemna.</small>
      </ng-container>
    </div>
    <div class="w-full flex justify-content-center mt-5">
      <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button-rounded" (click)="scroll(map)">
      </button>
    </div>
  </form>

  <p-divider class="w-full py-0 my-0 px-8"></p-divider>
  <div #map [style]="{'height':'95vh'}" class="w-full flex flex-column align-items-center">
    <p class="mb-5 mt-2 text-xl">Dodaj węzły i odcinki</p>
    <div class="flex mb-4 align-items-center">
      <p-toggleButton [ngModel]="isAddingNodesModeOn" onLabel="Dodaj węzły" offLabel="Dodaj węzły"
                      (onChange)="switchAddingNodesMode()"
                      styleClass="p-button-sm mr-3">
      </p-toggleButton>
      <p-toggleButton [ngModel]="isAddingSegmentsModeOn" onLabel="Dodaj odcinki" offLabel="Dodaj odcinki"
                      (onChange)="switchAddingSegmentsMode()"
                      styleClass="p-button-sm mr-3">
      </p-toggleButton>
      <button pButton pRipple type="button" icon="pi pi-arrow-down" class="p-button-rounded" (click)="scroll(save)">
      </button>
      <!--      <p-button label="Zapisz" styleClass="p-button-sm" icon="pi pi-arrow-down" iconPos="right"-->
      <!--                (click)="scroll(save)"></p-button>-->
    </div>
    <ng-container *ngIf="isAddingSegmentsModeOn">
      <p *ngIf="!startSegmentNode" class="font-semibold">Zaznacz węzeł początkowy</p>
      <p *ngIf="startSegmentNode" class="font-semibold mb-0">
        <span class="font-normal">Węzeł początkowy:</span> {{this.startSegmentNode.name}}</p>
      <p *ngIf="startSegmentNode && !endSegmentNode" class="font-semibold">Zaznacz węzeł końcowy</p>
      <p *ngIf="endSegmentNode" class="font-semibold">
        <span class="font-normal">Węzeł końcowy:</span> {{this.endSegmentNode.name}}</p>
      <button pButton type="button" *ngIf="endSegmentNode && startSegmentNode" label="Dodaj odcinek" icon="pi pi-plus"
              class="mb-4" (click)="addSegment()">
      </button>
    </ng-container>
    <p-gmap [options]="mapOptions" class="w-full h-full"
            [style]="{'width':'100%','height':'100%'}"
            [overlays]="mapOverlays"
            (onMapClick)="handleMapClick($event)"
            (onOverlayClick)="handleOverlayClick($event)"
    >
    </p-gmap>
  </div>

  <p-divider class="w-full py-0 my-0 px-8"></p-divider>
  <div #save class=" flex flex-column align-items-center">
    <p class="mb-5 mt-2 text-xl">Zapisz drogę</p>
    <p-button styleClass="mb-8">Zapisz</p-button>
    <button pButton pRipple type="button" icon="pi pi-arrow-up" class="p-button-rounded mb-5" (click)="scroll(form)">
    </button>
  </div>
</div>

<p-dialog showEffect="fade" [(visible)]="addNodePopupOpen" header="Nowy węzeł drogowy" [style]="{width: '400px'}">
  <div class="grid p-fluid" *ngIf="selectedPosition">
    <div class="col-2 align-self-center"><label for="node-name">Nazwa</label></div>
    <div class="col-10"><input type="text" pInputText id="node-name" [(ngModel)]="nodeName"></div>
  </div>
  <ng-template pTemplate="footer">
    <div>
      <button type="button" pButton label="Dodaj węzeł" icon="pi pi-plus" (click)="addMarker()"></button>
    </div>
  </ng-template>
</p-dialog>
