<div class="flex-container test" [style]="{width: '800px', marginLeft: 'auto', marginRight: 'auto'}">
  <p class="header">Stwórz nowy taryfikator</p>
  <div [style]="{display: 'flex', flexDirection: 'column', gap: '20px'}">
    <input type="text" pInputText [(ngModel)]="name" placeholder="Nazwa taryfikatora" [class]="tariffNameValid ? '' : 'ng-invalid ng-dirty'">
    <p-checkbox label="Aktywny po stworzeniu" [(ngModel)]="active" [binary]="true"></p-checkbox>

<!--    <div>-->
<!--      <p class="header">Warianty cenowe</p>-->
<!--      <div [style]="{display: 'flex', gap: '20px'}">-->
<!--        <input type="text" pInputText [(ngModel)]="addPriceName" [class]="nameFieldValid ? '' : 'ng-invalid ng-dirty'"-->
<!--               placeholder="Nazwa">-->
<!--        <p-inputNumber [(ngModel)]="addPriceValue" [class]="priceFieldValid ? '' : 'ng-invalid ng-dirty'"-->
<!--                       placeholder="Cena" mode="currency" currency="PLN" locale="pl-PL"></p-inputNumber>-->
<!--      </div>-->
<!--    </div>-->

    <div class="prices-container">
      <div [style]="{display: 'flex', gap: '20px'}">
        <p class="price-name">car</p>
        <p-inputNumber [(ngModel)]="priceCar" [class]="priceCarValid ? '' : 'ng-invalid ng-dirty'"
                       placeholder="Cena" mode="currency" currency="PLN" locale="pl-PL"></p-inputNumber>
      </div>
      <div [style]="{display: 'flex', gap: '20px'}">
        <p class="price-name">motorcycle</p>
        <p-inputNumber [(ngModel)]="priceMotorcycle" [class]="priceMotorcycledValid ? '' : 'ng-invalid ng-dirty'"
                       placeholder="Cena" mode="currency" currency="PLN" locale="pl-PL"></p-inputNumber>
      </div>
      <div [style]="{display: 'flex', gap: '20px'}">
        <p class="price-name">truck</p>
        <p-inputNumber [(ngModel)]="priceTruck" [class]="priceTruckValid ? '' : 'ng-invalid ng-dirty'"
                       placeholder="Cena" mode="currency" currency="PLN" locale="pl-PL"></p-inputNumber>
      </div>
      <div [style]="{display: 'flex', gap: '20px'}">
        <p class="price-name">other</p>
        <p-inputNumber [(ngModel)]="priceOther" [class]="priceOtherValid ? '' : 'ng-invalid ng-dirty'"
                       placeholder="Cena" mode="currency" currency="PLN" locale="pl-PL"></p-inputNumber>
      </div>
    </div>
  </div>
  <button pButton type="button" icon="pi pi-plus" class="ui-button-info" [label]="'Stwórz'"
          [style]="{marginTop: '20px', marginLeft: 'auto', marginRight: '0', display: 'flex', width: '10em' }"
          (click)="createSubmit()"></button>
</div>

<p-toast position="top-left" key="tl"></p-toast>
