
<p-dialog *ngIf="roadData" header="Usuwanie drogi" [(visible)]="display" [modal]="true"
          [dismissableMask]="true" [draggable]="false" [style]="{width: '500px'}"
          (onHide)="onHide()">

  <p>Id: <span class="font-semibold">{{roadData.id!}}</span></p>
  <p>Nazwa: <span class="font-semibold">{{roadData.name}}</span></p>
  <p>Liczba segmentów: <span class="font-semibold">{{roadData.segments!.length}}</span></p>

  <ng-template pTemplate="footer">
    <button pButton class="p-button-secondary" (click)="onHide()" [loading]="isDeletingLoading" label="Anuluj"></button>
    <button pButton class="p-button-danger" (click)="onRoadDelete()" [loading]="isDeletingLoading" label="Usuń"></button>
  </ng-template>

</p-dialog>
