<p-toast></p-toast>

<div class="flex flex-column align-items-center">
  <p class="mt-5 mb-2 text-3xl">
    {{this.auctionId ? "Edytuj przetarg" : "Utwórz przetarg"}}
  </p>
  <form [formGroup]="auctionForm" (ngSubmit)="onSubmit()" class="mt-5 w-20rem">
    <div class="field">
      <label for="name" class="block">Nazwa</label>
      <input pInputText formControlName="name" id="name" type="text"
             class="w-full {{auctionName.invalid && (auctionName.dirty || auctionName.touched) ? 'ng-invalid ng-dirty' : ''}}"/>
      <ng-container *ngIf="auctionName.invalid && (auctionName.dirty || auctionName.touched)">
        <small *ngIf="auctionName.errors?.['required']" class="p-error block">Nazwa jest wymagana.</small>
      </ng-container>
    </div>

    <div class="field">
      <label for="startingPrice" class="block">Cena wywoławcza</label>
      <div class="p-inputgroup">
        <p-inputNumber formControlName="startingPrice" [min]="0" id="startingPrice" mode="currency"
                       currency="PLN" class="w-full" styleClass="w-full"
                       decrementButtonClass="{{auctionStartingPrice.value === null || auctionStartingPrice.value <= 0 ? 'hidden' : ''}}">
        </p-inputNumber>
        <!--        <p-dropdown [options]="currencies" [(ngModel)]="selectedCurrency" optionLabel="code" class="w-3"></p-dropdown>-->
      </div>
      <ng-container
        *ngIf="auctionStartingPrice.invalid && (auctionStartingPrice.dirty || auctionStartingPrice.touched)">
        <small *ngIf="auctionStartingPrice.errors?.['required']" class="p-error block">Cena wywoławcza jest
          wymagana.</small>
        <small *ngIf="auctionStartingPrice.errors?.['min']" class="p-error block">Cena wywoławcza nie może być
          ujemna.</small>
      </ng-container>
    </div>

    <div class="field">
      <label for="dueDate" class="block">Data zakończenia</label>
      <p-calendar id="dueDate" formControlName="dueDate" dateFormat="dd.mm.yy" [minDate]="minDateValue"
                  [readonlyInput]="true" styleClass="w-full"></p-calendar>
      <ng-container *ngIf="auctionDueDate.invalid && (auctionDueDate.dirty || auctionDueDate.touched)">
        <small *ngIf="auctionDueDate.errors?.['required']" class="p-error block">Data zakończenia jest wymagana.</small>
      </ng-container>
    </div>

    <div class="field">
      <label for="description" class="block">Opis</label>
      <textarea [rows]="3" [cols]="30" pInputTextarea [autoResize]="true" formControlName="description" id="description"
                class="w-full {{auctionDescription.invalid && (auctionDescription.dirty || auctionDescription.touched)
                                  ? 'ng-invalid ng-dirty' : ''}}"></textarea>
      <ng-container *ngIf="auctionDescription.invalid && (auctionDescription.dirty || auctionDescription.touched)">
        <small *ngIf="auctionDescription.errors?.['required']" class="p-error block">Opis jest wymagany.</small>
      </ng-container>
    </div>

    <button type="submit" pButton label="Zapisz"></button>
  </form>
</div>
